{% extends 'boiler.html' %}
{%load static%}
{%block title%}Home{%endblock%}


{%block body%}
<div class="carousel slide" data-ride="carousel" id="carousel-1" style="margin-bottom: 100px;">
    <div class="carousel-inner">
        <div class="carousel-item active"><img class="w-100 d-block" src="{%static 'assets/img/new-chronos.jpg'%}"
                alt="Slide Image">
        </div>
        <div class="carousel-item"><img class="w-100 d-block" src="{%static 'assets/img/october-promo.jpg'%}"
                alt="Slide Image">
        </div>
        <div class="carousel-item"><img class="w-100 d-block" src="{%static 'assets/img/nvidia-30-series-3090.jpg'%}"
                alt="Slide Image"></div>
    </div>
    <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><span
                class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a
            class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><span
                class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a></div>
    <ol class="carousel-indicators">
        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-1" data-slide-to="1"></li>
        <li data-target="#carousel-1" data-slide-to="2"></li>
    </ol>
</div>
<div class="container" style="max-width: 100%;padding: 0px;margin-bottom: 50px;">
    <div class="row">
        <div class="col"><img data-aos="fade-right" src="{%static 'assets/img/X10new.png'%}"
                style="margin: 5px;margin-top: 26px;padding-left: 50px;">
        </div>
        <div class="col" data-aos="fade-left" data-aos-delay="150" style="padding-left: 20px;">
            <p style="color: rgb(253,254,255);font-size: 57px;margin-bottom: -5px;margin-top: 40px;"><strong>The Highest
                    Performance Ever</strong><br><strong> In</strong> A Small Form Factor PC</p>
            <p style="color: rgb(255,255,255);font-size: 18px;">When space is critical and performance is paramount, the
                all-new ORIGIN PC CHRONOS desktop combines the demands of power users and minimalists.Designed to
                support next-generation processors and full-size graphics cards, up to the NVIDIA
                GeForce RTX 3090, the CHRONOS represents ORIGIN PC’s ongoing commitment to space-conscious users without
                compromising <br>performance.</p>
        </div>
    </div>
</div>
<div class="container" style="max-width: 100%;padding: 0px;margin-bottom: 50px;">
    <div class="row">
        <div class="col" data-aos="fade-right" style="margin-top: 0px;">
            <p style="color: rgb(253,254,255);font-size: 57px;margin-bottom: 0px;margin-top: 100px;">
                <strong>Gaming</strong> for Years to Come</p>
            <p style="color: rgb(255,255,255);font-size: 18px;">With the NEURON, you’ll be ready for the games of the
                future and beyond.Even when you’re not gaming your PC can handle any application you throw at it. With
                the latest next-generation hardware at your fingertips, take comfort in being
                future-proof and ready for any game or app.</p>
        </div>
        <div class="col"><img data-aos="fade-left" data-aos-delay="150"
                src="{%static 'assets/img/X2_19_Configcorrect.png'%}"></div>
    </div>
</div>
<div class="container" style="max-width: 100%;padding: 0px;">
    <div class="row">
        <div class="col"><img data-aos="fade-right" data-aos-delay="250" src="{%static 'assets/img/X5_Config.png'%}">
        </div>
        <div class="col" data-aos="zoom-in" data-aos-delay="100" style="padding-top: 60px;">
            <div class="row">
                <div class="col"><i class="fa fa-desktop" style="font-size: 48px;color: rgb(62,205,26);"></i>
                    <p style="color: rgb(250,252,255);font-size: 23px;margin-top: 20px;"><strong>GeForce RTX
                            3080</strong></p>
                </div>
                <div class="col"><i class="icon-control-pause" style="font-size: 48px;color: rgb(62,205,26);"></i>
                    <p style="color: rgb(255,255,255);font-size: 20px;margin-top: 10px;"><strong>Intel Core
                            i7-10700K</strong> and higher, or Intel Core i9-10900X and higher<br><strong>AMD Ryzen 7
                            3800X</strong> and higher, or AMD Ryzen Threadripper 3960X and higher<br></p>
                </div>
            </div>
            <div class="row">
                <div class="col"><i class="material-icons"
                        style="font-size: 48px;color: rgb(62,205,26);">panorama_horizontal</i>
                    <p style="color: rgb(255,255,255);font-size: 24px;margin-top: 20px;"><strong>16 GB</strong> or more
                    </p>
                </div>
                <div class="col"><i class="material-icons" style="font-size: 48px;color: rgb(62,205,26);">sd_storage</i>
                    <p style="color: rgb(255,255,255);font-size: 25px;margin-top: 20px;"><strong>480 SSD</strong> or
                        more</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container"
    style="max-width: 100%;padding: 79px;margin: 0px;background: #f8f6f6;margin-top: 5px;margin-bottom: 4px;">
    <div class="row" style="margin: 0px;">
        <div class="col">
            <div class="row">
                <div class="col" style="text-align: center;"><i class="la la-money" data-aos="zoom-in"
                        style="font-size: 51px;color: rgb(136,45,45);"></i>
                    <p style="font-size: 25px;text-align: center;color: rgb(26,26,27);">Financing<br>Play Now and Pay
                        Later</p>
                </div>
            </div>
            <div class="row">
                <div class="col" style="color: rgb(82,95,109);font-size: 16px;">
                    <ul>
                        <li>Easy to Apply</li>
                        <li>Get Instant Pre-Approved Offers and Rates</li>
                        <li><strong>0% APR</strong> on Select Purchases*</li>
                        <li>No Prepayment Penalties</li>
                        <li>Up to 36 Months of Payment Options</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col"
            style="font-size: 21px;border-right-style: solid;border-right-color: rgb(209,219,228);border-left-style: solid;border-left-color: rgb(216,222,228);">
            <div class="row">
                <div class="col" style="text-align: center;"><i class=" fas fa-hands-helping" data-aos="zoom-in"
                        style="font-size: 51px;color: rgb(136,45,45);"></i>
                    <p style="font-size: 25px;color: rgb(26,26,27);">Affiliates<br>Join the Best</p>
                </div>
            </div>
            <div class="row">
                <div class="col" style="color: rgb(82,95,109);font-size: 16px;">
                    <p style="text-align: center;">Partner up with the best custom PC system builder in the world and
                        earn <br>extra cash! Become An Official ORIGIN PC Affiliate Today!</p>
                </div>
            </div>
        </div>
        <div class="col" style="font-size: 19px;">
            <div class="row">
                <div class="col" style="text-align: center;font-size: 21px;"><i class="fa fa-headphones"
                        data-aos="zoom-in" style="font-size: 51px;color: rgb(136,45,45);"></i>
                    <p style="font-size: 25px;color: rgb(26,26,27);">Support<br>24/7 US Based Support</p>
                </div>
            </div>
            <div class="row">
                <div class="col" style="color: rgb(82,95,109);font-size: 16px;">
                    <p style="text-align: center;">Once you join us, we will have you covered. With every system, ORIGIN
                        PC<br> provides a free phone and online lifetime service guarantee.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="team-clean" style="background: rgba(255,255,255,0);color: rgb(199,206,214);">
    <div class="container">
        <div class="intro"></div>
        <div class="row people">
            <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="{%static 'assets/img/1.jpg'%}">
                <h3 class="name">Ben Johnson</h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent
                    aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam
                    dictum feugiat tellus, a semper massa. </p>
            </div>
            <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="{%static 'assets/img/2.jpg'%}">
                <h3 class="name">Emily Clark</h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent
                    aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam
                    dictum feugiat tellus, a semper massa. </p>
            </div>
            <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="{%static 'assets/img/3.jpg'%}">
                <h3 class="name" style="color: rgb(175,186,197);">Carl Kent</h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent
                    aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam
                    dictum feugiat tellus, a semper massa. </p>
            </div>
        </div>
    </div>
</div>
{%endblock body%}